.edit-form__button {
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  margin-top: 10px;
  margin-bottom: 36.5px;
}
.edit-form__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
